@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-ebony: #0A0D1E;
  --color-yellow: #F8C617;
  --color-cyan: #00F0FF;
}

body {
  font-family: 'Inter', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif;
}

.font-mono {
  font-family: 'JetBrains Mono', monospace;
}

.grid-bg {
  background-size: 40px 40px;
  background-image: 
    linear-gradient(to right, rgba(255, 255, 255, 0.03) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.03) 1px, transparent 1px);
}

.delay-75 {
  animation-delay: 75ms;
}

.delay-1000 {
  animation-delay: 1000ms;
}
